
.aboutHeading{
    font-size: 25px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}
.aboutContent{
    margin: 2rem;
    padding: 10px;
    background-color: rgb(133, 123, 123);
    
}