* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    margin:0;
    padding:0px;
    padding-bottom:30px;
    background:#777;
    color:white;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
    font-size: x-large;
    letter-spacing: 1.6px;
}

header h1{
    padding:40px;
    font-size:100px;
}
header ul{
    display:flex;
    padding:10px;
    font-size:18px;
    font-weight:200;
    justify-content: center;
    list-style-type: none;
    border-bottom:0.1rem solid white;
    position: fixed;
    top: 0%;
    background: black;
    width: 100%;
    z-index: 1;
}
header li{
    margin:0px 40px;
}
header li a{
    text-decoration: none;
    color:white;
}
#cart{
    position: fixed;
    height: 95%;
    text-decoration: none;
}
.cart_number{
    position: relative;
    color: cyan;
    left: 28.3rem;
    bottom: 10px;
    font-size: 20px;
}
.cart_holder{
    display: inline-block;
    border: 4px solid cyan;
    position: relative;
    left: 28rem;
    border-radius: 20%;
    width: 3rem;
    height: 1.8rem;
}
.active_link {
    color: red;
    font-weight: bold; 
  }